#general #generated
.idea/
vendor/

#files
composer.lock
.phpunit.result.cache

#frameworks
#doctrine
/bin/doctrine.php
doctrine.php
bootstrap-doctrine.php
create_product.php
*.sqlite

#phpunit
coverage

#smarty
cache/
configs/
templates_c/