#general #generated
.idea/
vendor/

#files
composer.lock
.phpunit.result.cache

#frameworks
#doctrine
doctrine_scripts/
/bin/doctrine.php
doctrine.php
bootstrap-doctrine.php
create_*.php
*.sqlite

#phpunit
coverage

#smarty
cache/
configs/
templates_c/